.card {
    min-height: 130px;
    width: 70%;
}
.div-img {
    height: 230px;
    display: flex;
    place-content: center;
}
.img {
    padding: 10px;
    height: -webkit-fill-available;
}
.content-price {
  //  border-top: 1px solid black;
}
.container {
    display: flex;
    background-image: url("../../../assets/img/background.jpg");
    margin-top: 100px;
}

.name {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 22px;
    line-height: 16px;
    color: #585858;
}

.price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #707070;
}
